.nav {
  display: flex;
}
.menubox {
  display: flex;
}
.menu {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 10px 10px 3px #a1a8d4, -10px -10px 3px #f38375, -20px -20px 3px #64f58d,
    20px 20px 3px #9dfff9;
  overflow: hidden;
}

@media (max-width: 700px) {
  .nav {
    font-size: 10px;
  }
  .navlist {
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #ccc;
  }
  .image {
    width: 12rem;
    height: 12rem;
    margin-right: 0.4rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .titleLink {
    line-height: 1.6;
    -webkit-line-clamp: 3;
  }

  .metaInfo > :not(:first-child) {
    margin-top: 0.4rem;
  }
}
